.o-btn {
	display: inline-block;
	overflow: hidden;
	text-indent: -1000px;
	cursor: pointer;
		
	&--ask {
		width: 250px;
		height: 93px;
		background-image: url(../img/btn/ask.png);
	}
	
	&--submit {
		width: 218px;
		height: 84px;
		background-image: url(../img/btn/submit.png);
	}
	
	&--submit-small {
		@extend %abs;
		right: 30px; bottom: 42px;
		z-index: 10;
		width: 118px;
		height: 54px;
		
		.c-form--blue & {
			background-image: url(../img/btn/submit-small--blue.png);
		}
		
		.c-form--yellow & {
			background-image: url(../img/btn/submit-small--yellow.png);
		}
	}
	
	@media screen and ( max-width: 640px ) {
		&--ask {
			display: block;
			margin: 0 auto;
		}
	}
	
}