.icon-close:before {
  content: "\e904";
}
.icon-nav:before {
  content: "\e905";
}
.icon-f:before {
  content: "\e900";
}
.icon-gear:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-pin:before {
  content: "\e903";
}

