.o-page {
	@extend %clear;
	padding: 40px 0;
	
	@media screen and ( min-width: 641px ) {
		&__text {
			width: grid(460, $grid-base-width - $padding);
		}
	}
	
	@media screen and ( max-width: $grid-base-width + px ) {
//		padding: 70px 0;
	}
	
	@media screen and ( max-width: 640px ) {
		&__text {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	
	@media screen and ( max-width: 480px ) {
		font-size: 70%;
	}
}