.c-bg {

	&--home {
		height: 242px;
		background: {
			image: url(../img/bg/home.png);
			repeat: no-repeat;
			position: center;
			color: $c-blue;
		}
	}
	
	.o-wrap {
		height: 100%;
	}
	
	@media screen and ( max-width: $grid-base-width + px ) {
		&--home {
			height: 23.2vw;
			background-size: cover;
		}
	}
	
}
