.c-materials {


	h2 {
		position: relative;
		text-align: left;
		text-transform: uppercase;
	}
	
	
	&__content {
		position: relative; z-index: 5;
		padding: 35px 0;
		
		&:after, &:before {
			@extend %abs;
			width: 100%;
			display: block;
			content: ' ';
			height: 288px;
		}
		
		&:after {
			z-index: -1;
			left: 0; top: 0;
			background: {
				image: url(../img/bg/lightblue.png);
				repeat: no-repeat;
				position: center top;
			}
		}

		&:before {
			z-index: -2;
			left: 0; top: 0;
			background-color: #bceeff;
		}
	}
	
	@media screen and ( min-width: 561px ) {
		padding-top: 200px;
		
		h2 {
			position: absolute;
			top: -140px;
		}
		
		&__content {
			article {
				width: grid(490, $grid-base-width - $padding);
			}
		}
	}
	
	@media screen and ( max-width: 560px ) {
		&__content {
			&:after, &:before {
				height: 388px;
			}
		}
		
		br {
			display: none;
		}
	}
	
	@media screen and ( max-width: 375px ) {
		&__content {
			
			&:after, &:before {
				
			}
			
		}
	}
}