.c-nav {
	@extend %abs;
	top: 75px;
	right: 10px;
	
	li {
		float: left;
		padding: 0 13px;
		
		&:last-child {
			padding-right: 0;
		}
	}

	&__link {
		font: {
			family: $bebasneue;
			size: em(24);
		}
		text-transform: uppercase;
		color: $c-yellow--darker;
		
		&:hover {
			@media screen and ( min-width: 769px ) {
				border-bottom: 4px solid $c-blue--nav;
				color: $c-blue--nav;
			}
		}
	}
	
	&__social {
		position: relative;
		top: -5px;
		display: inline-block;
		width: 36px; height: 36px;
		border-radius: 6px;
		background-color: $c-blue--nav;
		text-align: center;
		font-size: em(26);
		color: white;
		
		&:hover {
			background-color: darken($c-blue--nav, 10%);
			color: white;
		}
	}
	
	.icon-f {
		padding: {
			top: 5px;
			left: 5px;
		}
		font-size: em(31);
	}
	
	.icon-instagram {
		padding-left: 1px;
		line-height: 36px;
	}
		
		
	
	@media screen and ( max-width: 768px ) {
		@include hover;
		position: fixed;
		bottom: -100%;
		left: 0;
		right: auto;top: auto;
		width: 100%;
		height: 100%;
		background-color: $c-blue;
		text-align: center;
		color: white;
		z-index: 20;
		
		ul {
			text-align: center;
			@include scut-center-transform;
		}

		li {
			float: none;
		}

		&__link {
			display: inline-block;
			padding: 5px;
			color: white;
		}
		
		&__link-last {
			margin-bottom: 20px;
		}
		
		&__social-holder {
			display: inline-block;
			padding: 0 5px !important;
		}
		
		&__social {
			top: auto;
//			width: 36px; height: 36px;
			vertical-align: top;
			padding: 0;
		}
	}
	
	&.is-active {
		bottom: 0;
	}	
}