.c-picture {

	
	@media screen and ( min-width: 641px ) {
		&--article {
			width: grid(516, $grid-base-width - $padding);
		}
		
		&--blog{
			width: grid(480, $grid-base-width - $padding);
		}
		
		&--communication {
			width: grid(570, $grid-base-width - $padding);
		}
		
		&--descriptions {
			width: grid(490, $grid-base-width - $padding);
			margin: 40px auto 0 auto;
		}
		
		&--robots-2 {
			@extend %abs;
			right: 0; top: -180px;
			width: grid(480, $grid-base-width - $padding);
		}
	}

	@media screen and ( max-width: 640px ) {

		&--robots-2 {
			position: relative;
		}
		
		.o-media {
			display: block;
			margin: 0 auto;
		}
	}
}
