// Colors

$c-blue--brighter:		#6dc2dd;
$c-blue--darker:		#2ea6cd;
$c-blue:				#107ea2;
$c-blue--nav:			#1195c1;
$c-blue--text:			#2d7c96;
$c-blue--text2:			#104050;
$c-blue--references:	#364f61;

$c-yellow:				#fdc823;
$c-yellow--darker:		#fdc51d;
$c-yellow--brighter:	#f3bb10;
$c-yellow--references:	#ffc30e;