// Fonts

$avenir:			'avenir';
$bariol:			'bariol-bold';
$bebasneue:			'bebasneue';
$neosanspro:		'neosanspro', sans-serif;
$simplejoys:		'simplejoys', cursive;
$sequel:			'sequel-regular';


$header:			$bariol;
$text:				$neosanspro;


// Font weights

$regular:			400;
$light:				300;
$medium:			600;
$bold:				700;

$medium:			500;


// Default
$base-font-size:	19;
$grid-base-width:	1040;
$padding:			10;