// Fonts

$avenir:			'avenir';
$bariol:			'bariol-bold';
$exo:				'Exo', sans-serif;
$pacifico:			'Pacifico', cursive;
$sequel:			'sequel-regular';


$header:			$bariol;
$text:				$exo;


// Font weights

$regular:			400;
$light:				300;
$semibold:			600;
$bold:				700;

$medium:			500;


// Default
$base-font-size:	19;
$grid-base-width:	1040;
$padding:			10;